div.uk-cover.uk-position-cover.ng-scope {
	height: 100%;
}
h1.indexname {
	font-family: 'melancolieregular', cursive;
	text-align: center;
	font-size: 190px;
	color: #fff;
	margin: 3px;
	text-shadow: 2px 2px 8px rgba(0,0,0, 0.8);
	line-height: 150px;
}

.nav-style {
	z-index: 1000;
	position: fixed;
	width: 100%;
	top:0;
	background-color: rgba(255,255,255,.8);
	display: flex;
	justify-content:center;
	align-content:center;
	color: #5BC0BE;
	text-align: center;
	flex-direction:column;
}

.nav-style ul {
	color: #fff;
	margin: 0 0 15px;
	justify-content: center;
	align-content: center;
}

.nav-style ul li, .nav-style ul li a {
	font-size: 16px;
	color: #5BC0BE;
	padding: 5px;
	transition: all 0.4s;
}

.nav-style ul li:hover, .nav-style ul li a:hover {
	color: #3A506B;
	-webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.nav-margin {
	margin-top: 65px;
}
h1 {
	text-align: center;
}

.uk-overlay-hover:hover .uk-overlay-spin,
.uk-overlay-hover.uk-hover .uk-overlay-spin,
.uk-overlay-active .uk-active > .uk-overlay-spin {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.6;
}

figure.projects {
	width: 350px;
	height: 200px;
	background: #000;
}

figure.projects img {
	max-width: 100%;
}

.form-container {
	display: flex;
	flex-wrap: column;
	justify-content: center;
}

.form-group {
	padding-bottom: 10px;
}

input[type="text"],textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus, textarea:focus {
  outline: none;
  border: solid 1px #7BB46A;
  box-shadow: 0 0 5px 1px #B2D3A8;
}

input[type="submit"] {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#7BB46A;
	border:1px solid rgba(0,0,0,0);
	border-radius: 5px;
	font-size:12px;
	padding:12px 14px;
	color:#fff;
	transition: all 0.4s;
}

input[type="submit"]:hover {
	background-color: #5C954B;
}

.large-contain {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.large-contain figure {
	margin: 0 auto;
	max-width: 100%;
}

.large-contain figure img {
	margin: 0 auto;
	max-width: 100%;
}

.video-contain {
	width: 100%;
}

.video-contain video {
	max-width: 100%;
}

.nav-margin p {
	text-align: center;
}

li.category-link {
	color: #3A506B;
	transition:all 0.4s;
}

li.category-link:hover {
	color: #0B132B;
	-webkit-transform: scale(1.05);
  	transform: scale(1.05);
}







@font-face {
    font-family: 'melancolieregular';
    src: url('../fonts/melancolie-webfont.eot');
    src: url('../fonts/melancolie-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/melancolie-webfont.woff2') format('woff2'),
         url('../fonts/melancolie-webfont.woff') format('woff'),
         url('../fonts/melancolie-webfont.ttf') format('truetype'),
         url('../fonts/melancolie-webfont.svg#melancolieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*a:hover {
	text-decoration: none;
	color: #187795;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
}
/*nav {
	background-color: #187795;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	list-style: none;
}
nav ul a {
	padding: 1.25rem;
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid #187795;
	transition: all 0.5s;
}

nav a:hover {
	background-color: #115569;
	border-bottom: 2px solid #fff;
}*/

/*

h2 {
	text-align: center;
}
p {
	text-align: center;
}

.projects {
	padding: 10px;
	width: 25%;
	border: 1px solid #000;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.filter-contain {
	display: flex;
	margin: 0 auto;
	justify-content:center;
	align-content:center;
}

.filter-contain a {
	padding: 10px;
}

label {
	display: block;
}

form {
	width: 40%;
}

input[type="submit"] {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#7BB46A;
	border:1px solid #5C954B;
	font-size:12px;
	padding:12px 14px;
	color:#fff;
	transition: all 0.4s;
}

input[type="submit"]:hover {
	background-color: #5C954B;
}

@media screen and (max-width: 1000px) {
	.projects {
		width: 40%;
	}
}

@media screen and (max-width: 700px) {
	.projects {
		width: 80%;
	}
	form {
		width: 80%;
	}
}

.category-link {
	cursor:pointer;
	transition: all 0.4s;
}

.category-link:hover {
	color: #187795;
}
*/