<div class="nav-margin uk-flex uk-flex-center uk-flex-column">
	<h1>projects</h1>
	<ul class="uk-subnav uk-subnav-line uk-flex-center">
		<li ng-click="projectFilter = {}" class="category-link">View All</li>
		<li ng-click="projectFilter = {category: 'web'}" class="category-link">Web</li>
		<li ng-click="projectFilter = {category: 'mobile'}" class="category-link">Mobile</li>
		<li ng-click="projectFilter = {category: 'design'}" class="category-link">Design</li>
		<li ng-click="projectFilter = {category: 'fine'}" class="category-link">Fine Art</li>
		<li ng-click="projectFilter = {category: 'video'}" class="category-link">Videos</li>
	</ul>
	<div class="container uk-flex uk-flex-wrap uk-grid-collapse uk-flex-center">
		<figure class="projects uk-overlay uk-overlay-hover" ng-repeat="project in projects | filter: projectFilter">
			<a href="http://nicolevatland.com/angular/final/#/projects/{{project.id}}">
			    <img class="uk-overlay-spin uk-overlay-grayscale" ng-src="{{project.images[0].url}}">
			    <figcaption class="uk-overlay-panel uk-overlay-slide-top">{{project.name}}</figcaption>	
			</a>
		</figure>
	</div>
</div>
