<div class="nav-margin">
	<h1>{{project.name}}</h1>
	<p>{{project.description}}</p>
	<div class="large-contain" ng-hide="project.img">
		<div ng-repeat="image in project.images | limitTo: 1" class="video-contain">
			<video controls>
				<source ng-src="{{project.images[1].url}}">
			</video>
		</div>
	</div>
	<div class="large-contain" ng-repeat="image in project.images" ng-show="project.img">
			<figure>
			    <img ng-src="{{image.url}}">
			</figure>
	</div>

</div>