<div class="nav-margin">	
	<h1>contact</h1>
	<div class="form-container">
		<form method="post" name="form" ng-submit="form.$valid && sendMessage(contact)" novalidate>
			<div class="form-group">
				<label for="">Name</label>
				<input type="text" ng-model="contact.name" ng-required>
			</div>
			<div class="form-group">
				<label for="">Email</label>
				<input type="text" ng-model="contact.email" ng-required>
			</div>
			<div class="form-group">
				<label for="">Subject</label>
				<input type="text" ng-model="contact.subject" ng-required>
			</div>
			<div class="form-group">
				<label for="">Message</label>
				<textarea name="" id="" cols="30" rows="10" ng-model="contact.message" ng-required></textarea>
			</div>
			<div class="form-group">
				<input type="submit">
			</div>
		</form>
	</div>
</div>